option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "cryptocow.settings"
    "PYTHONPATH": "./cryptocow"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: cryptocow/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"