{% extends 'crypto/base.html' %}

{% block content %}
    <p>TwitCrypt is for public private communications. Provide a password and message, and you'll get a secret message to
    tweet (or share) whenever you like. Only someone with the password can decrypt it on this site. The password is
    <b>not</b> the key used for encryption, and your message is <b>not</b> stored anywhere.
    <br>
    <br>
    <div class="row">
      <div class="one-half column category">
        <a class="button button-big" href="encrypt">Encrypt</a>
      </div>
      <div class="one-half column category">
        <a class="button button-big" href="decrypt">Decrypt</a>
      </div>
    </div>

    <br>
    <br>
    <br>
    <p style="font-size: 10px">This is a dummy system and is not fully implemented. If you've found this page, please do not use this for
        information you wish to be securely encrypted.</p>

{% endblock %}
